body{
	margin:0;
	padding:0;
	width: 100%;
}
.hidden{
	height:0 !important;
	overflow:hidden !important;
}
#iosView,#svgView{
	width:100%;
	height:150px;
	overflow-x:auto;
	overflow-y:hidden;
}
input,button{
	border: 1px solid #000;
	margin: 2.5%;
	width: 95%;
	display: block;
	box-sizing: border-box;
}
h1{
	margin:0;
	width: 100%;
	height: 60px;
	display: block;
	text-align:center;
	font-size: 18pt;
}